html
  include includes/head.pug
  body
    +navbar("Classement", user)

    if !user.isAnonymous
      .container
        h1 Classement

        if joueurs && joueurs.length
          table.table.table-striped.table-sm
            thead
              tr
                th Nom
                th(style="text-align: right") Tentatives
                th(style="text-align: right") Succès
                th(style="text-align: right") Ratio
            tbody
              each joueur in joueurs
                tr
                  td #{joueur.nom}
                  td(style="text-align: right") #{joueur.lancers}
                  td(style="text-align: right") #{joueur.lancersGagnes}
                  // ✅ afficher le ratio avec quelques décimales
                  td(style="text-align: right; font-family: monospace") #{joueur.ratio.toFixed(8)}
        else
          .alert.alert-info Aucun joueur pour le moment.
    else
      .container
        .alert.alert-warning Veuillez vous authentifier pour voir les statistiques.
